body {
	margin: 0;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 32px;
}

* {
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration-style: dotted;
}
p {
	width: 30rem;
	font-size: 0.6rem;
	margin: 0.25rem 0;
}

section {
	padding: 2rem 0;
}

h2 {
	color: #fff070;
	font-variant: small-caps;
	text-align: center;
	margin: 0;
	margin-bottom: 1rem;
}

.section-fighter {
	background-color: #111120;
}
h1 {
	color: #fff070;
	font-variant: small-caps;
	text-align: center;
	margin: 0;
	font-size: 2rem;
}

.section-warriors {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	background-color: #222240;
}
.versus {
	flex: 0 0 6rem;
	align-self: center;
	font-size: 3rem;
	text-align: center;
	color: #f0d050;
}
.warrior {
	flex: 1 1 0;
	font-weight: bold;
	font-variant: small-caps;
	display: flex;
	flex-direction: column;
}
.warrior-stallman {
	color: #00df6c;
	text-align: right;
}
.warrior-de-blanc {
	color: #ff6f70;
}
.warrior-description {
	font-weight: normal;
	font-size: 0.7rem;
}

.section-letters {
	display: flex;
	flex-direction: column;
	background-color: #111120;
}
.letters {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.letter {
	flex: 1 1 0;
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	font-size: 0.8rem;
}
.letter-stallman {
	color: #00df6c;
	align-items: flex-end;
	text-align: right;
}
.letter-de-blanc {
	color: #ff6f70;
	align-items: flex-start;
}
.letter-description {
	margin-top: 1rem;
	font-size: 0.6rem;
	max-width: 15rem;
}

.section-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #111120;
}
.stats-bars {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 22rem;
}
.stats-bar {
	display: flex;
	flex-direction: column;
	transition: width 0.5s;
	width: 0;
	animation: statsoverflow 0.5s;
}
@keyframes statsoverflow {
	0% {
		overflow: hidden;
	}
	99.9% {
		overflow: hidden;
	}
	100% {
		overflow: visible;
	}
}
.stats-percentage {
	display: flex;
	flex-direction: row;
	line-height: 2.2rem;
	height: 2rem;
	font-weight: bold;
	color: #222240;
}
.stats-bar-stallman .stats-percentage {
	background-color: #00df6c;
	padding-left: 0.5rem;
}
.stats-bar-de-blanc .stats-percentage {
	background-color: #ff6f70;
	padding-right: 0.5rem;
	text-align: right;
	direction: rtl;
}
.stats-text {
	margin-top: 0.5rem;
	color: #ffffff;
	font-size: 0.6rem;
	white-space: nowrap;
	display: flex;
	flex-direction: row;
}
.stats-bar-stallman .stats-text {
	padding-left: 0.5rem;
}
.stats-bar-de-blanc .stats-text {
	padding-right: 0.5rem;
	text-align: right;
	direction: rtl;
}
.stats-num {
	padding: 0 0.15rem;
}

.section-overview {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222240;
	color: #ffffff;
}

.section-attack {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #111120;
	color: #ffffff;
}
.social-media-preview {
	width: 100%;
}

.section-arguments {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222240;
	color: #ffffff;
}
.argument-stallman {
	border-left: 0.25rem solid #00df6c;
	padding: 0.25rem 0.5rem;
}
.argument-de-blanc {
	border-left: 0.25rem solid #ff6f70;
	padding: 0.25rem 0.5rem;
}
.next-argument {
	height: 1rem;
}
